:root {
    --main-background-color: #fff;
    --main-text-color: #757575;
    --logo-dark-color: #000;
    --logo-light-color: #fff;
    --accent-color: #2196f3;
    --title-color: #212121;
    --title-inverse-color: #fff;
    --team-section-background-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --footer-contacts-color: rgb(255 255 255 / 0.6);
}

body {
    font-family: 'Roboto', sans-serif;
}

p,
h1,
h2,
h3,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero-btn,
.portfolio-btn {
    cursor: pointer;
    border: none;
    display: block;

}

.header-logo,
.header-item,
.contact-item,
.foter-logo,
.footer-item,
.footer-adress-list {
    text-decoration: none;
}


.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}



.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ---Header--- */

.header-list .header-item:hover,
.header-list .header-item:focus {
    color: var(--accent-color);
}

.contact-list .contact-item:hover,
.contact-list .contact-item:focus {
    color: var(--accent-color);
}

.header-list .current {
    color: var(--accent-color);
}

.header-list {
    padding: 32px 32px;
    display: flex;
    column-gap: 50px;
    align-items: center;

}

.header .container {
    display: flex;

}

.header-logo {

    margin-right: 93px;
}

.contact-list {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    margin-left: auto;
    column-gap: 50px;
}

.header {
    background-color: #fff;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-accent {
    color: var(--logo-dark-color);
}

.header-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color)
}

.contact-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/* ---Hero--- */

.hero {
    padding: 200px 100px 200px 100px;
}

.hero-title {
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-btn {
    margin: 0 auto;
}

.hero-btn {
    padding: 10px 32px;
}

.hero {
    background-color: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-inverse-color);
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-background-color);
    background-color: var(--accent-color);
    border: none;
}

/* ---features--- */


.features-title {
    padding-bottom: 10px;
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/* ---employment--- */

.employment {
    padding-top: 0;
}

.employment-title {
    padding-bottom: 50px;
}

.employment-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

/* ---team--- */

.command {
    background-color: var(--team-section-background-color);
}

.team-name {
    padding-bottom: 50px;
}

.team-title {
    padding-top: 30px;
    padding-bottom: 10px;
}

.team-text {
    padding-bottom: 30px;
}

.team-item {
    padding-bottom: 94px;
}

.team-name {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.team-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* ---footer--- */
.foter-logo {
    padding: 60px 100px 20px 0px;
}

.foter-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    display: block;
}

.footer-adress-list,
.footer-item {
    padding-bottom: 9px;
}

.logo-accent-footer {
    color: var(--title-inverse-color);
}

.footer {
    background-color: var(--footer-background-color);
}

.adress {
    font-style: normal;
}

.footer-item {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-inverse-color);
}

.footer-adress-list {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-contacts-color);
}

.footer-adress-list:hover,
.footer-adress-list:focus {
    color: var(--accent-color);
}

.footer-item:hover,
.footer-item:focus {
    color: var(--accent-color);
}

/* ---portfolio--- */

.portfolio {
    margin-bottom: 50px;
}

.portfolio-link {
    padding-bottom: 50px;
}

.portfolio-title {
    margin-top: 20px;
    margin-bottom: 4px;
}

.portfolio-text {
    margin-bottom: 20px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-inverse-color);
    background-color: var(--accent-color);
    border: none;
}

.portfolio-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.portfolio-list {
    background: var(--title-inverse-color);
    border: 1px solid #EEEEEE;
}