body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-background-color: #fff;
    --main-text-color: #757575;
    --logo-dark-color: #000;
    --logo-light-color: #fff;
    --accent-color: #2196f3;
    --title-color: #212121;
    --title-inverse-color: #fff;
    --team-section-background-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --footer-contacts-color: rgb(255 255 255 / 0.6);
}

.header-logo,
.header-item,
.contact-item,
.footer-item,
.footer-adress-list {
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ---Header--- */

.header-list .header-item:hover,
.header-list .header-item:focus {
    color: var(--accent-color);
}

.contact-list .contact-item:hover,
.contact-list .contact-item:focus {
    color: var(--accent-color);
}


.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-accent {
    color: var(--logo-dark-color);
}

.header-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color)
}

.contact-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/* ---Hero--- */

.hero {
    background-color: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-inverse-color);
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-background-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

/* ---features--- */

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/* ---employment--- */

.employment-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

/* ---team--- */

.command {
    background-color: var(--team-section-background-color);
}

.team-name {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #var(--title-color);
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/* ---footer--- */

.logo-accent-footer {
    color: var(--title-inverse-color);
}

.footer {
    background-color: var(--footer-background-color);
}

.footer-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-inverse-color);
}

.footer-adress-list {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-contacts-color);
}

.footer-address .footer-adress-list:hover,
.footer-address .footer-adress-list:focus {
    color: var(--accent-color);
}