:root {
    --main-background-color: #fff;
    --main-text-color: #757575;
    --logo-dark-color: #000;
    --logo-light-color: #fff;
    --accent-color: #2196f3;
    --title-color: #212121;
    --title-inverse-color: #fff;
    --team-section-background-color: #f5f4fa;
    --footer-title-color: #FFFFFF;
    --footer-background-color: #2f303a;
    --footer-contacts-color: rgb(255 255 255 / 0.6);
    --modal-btn-close-color: #000;
}

body {
    font-family: 'Roboto', sans-serif;
}

p,
h1,
h2,
h3,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero-btn,
.portfolio-btn {
    cursor: pointer;
    border: none;
    display: block;

}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    /* outline: 2px solid red; */
}



.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ---Header--- */

.header-list .current {
    color: var(--accent-color);
    position: relative;
}

.header .container {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 93px;
    align-items: center;
}

.header-list {
    text-align: center;
    display: flex;
    column-gap: 50px;
}

.header-item {
    display: block;
    padding: 32px 0 32px;
}

.contact-list {
    display: flex;
    margin-left: auto;
    column-gap: 50px;
}

.contact-list-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon {
    margin-right: 10px;
    fill: currentColor;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #ECECEC;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-accent {
    color: var(--logo-dark-color);
}

.header-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list .header-item:hover,
.header-list .header-item:focus {
    color: var(--accent-color);
}

.contact-list .contact-item:hover,
.contact-list .contact-item:focus {
    color: var(--accent-color);
}

.header-item.current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

/* ---Hero--- */

.hero {
    padding: 200px 0;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-btn {
    margin: 0 auto;
    padding: 10px 32px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-inverse-color);
}

.hero-btn {
    min-width: 216px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188CE8;
}

/* ---features--- */

.features {
    display: flex;
    column-gap: 30px;
}

.features-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-box {
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.features-title {
    margin-bottom: 10px;
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.features-item {
    flex-basis: calc((100% - 90px) / 4);
}

/* ---employment--- */

.employment-section {
    padding-top: 0;
}

.employment {
    display: flex;
    column-gap: 30px;
}

.employment-item {
    position: relative;
}

.employment-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}

.employment-text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-inverse-color);
    background: rgba(47, 48, 58, 0.8);
    height: 70px;
}

/* ---team--- */

.team {
    display: flex;
    column-gap: 30px;
}

.team-item {
    width: calc((100% - 60px) / 3);
}

.command {
    background-color: var(--team-section-background-color);
}

.team-name {
    margin-bottom: 50px;
}

.team-box {
    padding: 30px 0;
}

.team-soc {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.team-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #2196F3;
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
    fill: #FFFFFF;
}

.team-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 16px;
}

.team-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


/* ---customers--- */

.customers {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}

.customers-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.customers-item {
    width: 170px;
    height: 92px;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo {
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border-color: #2196F3;
}

.customers-link:hover .customers-logo,
.customers-link:focus .customers-logo {
    fill: #2196F3;
}

/* ---footer--- */

.footer-adress-section {
    flex-grow: 1;
    margin-right: 70px;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    display: inline-block;
}

.footer-list {
    margin-bottom: 9px;
}

.footer-list:last-child {
    margin-bottom: 0;
}

.logo-accent-footer {
    color: var(--title-inverse-color);
}

.footer {
    padding: 60px 0 60px;
    background-color: var(--footer-background-color);
}

.adress {
    font-style: normal;
}

.footer-item {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-inverse-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress-list {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-contacts-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress-list:hover,
.footer-adress-list:focus {
    color: var(--accent-color);
}

.footer-item:hover,
.footer-item:focus {
    color: var(--accent-color);
}

.footer-info {
    display: flex;
    align-items: baseline;
}

.footer-soc {
    margin-right: 93px;
}

.footer-soc-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-title-color);
    margin-bottom: 20px;
}

.footer-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    fill: #FFFFFF;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #2196F3;
}

.footer .container {
    display: flex;
}

.footer-soc-list {
    display: flex;
    column-gap: 10px;
}

.subscription-form {
    display: block;
    align-items: col;
}

.footer-subscription {
    display: flex;
    gap: 12px;
}

.footer-subscription-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    margin-bottom: 20px;
}

.footer-input {
    padding: 15px 16px;
    min-width: 358px;
    height: 50px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscription-btn {
    min-width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.footer-mail-icon {
    margin-left: 10px;
}

/* ---portfolio--- */

.portfolio {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 50px;
}

.portfolio-block {
    padding: 20px 24px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.portfolio-title {
    margin-bottom: 4px;
}

.portfolio-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    background: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--title-inverse-color);
    background-color: var(--accent-color);
    box-shadow:
        0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-list {
    flex-basis: calc((100% - 60px) / 3);
}

.portfolio-link:hover .portfolio-top-text,
.portfolio-link:focus .portfolio-top-text {
    transform: translateY(0);
}

.portfolio-top-text {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    height: 100%;
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-link {
    display: block;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.portfolio-list {
    background: var(--title-inverse-color);
}


/* --modal-- */


.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 48, 48, 0.174);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}

.modal {
    position: absolute;
    width: 530px;
    min-height: 580px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-close-icon {
    fill: var(--modal-btn-close-color);
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
    fill: var(--accent-color);
}

.modal-title {
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 42px;
    transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    outline-color: var(--accent-color);
}

.input-field {
    margin-bottom: 10px;
}

.inpute-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: #757575;
    display: block;
    margin-bottom: 4px;
}

.modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding-left: 15px;
    transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
    outline-color: var(--accent-color);
}

.input-wrap {
    display: block;
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    display: inline-block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.input-icon {
    fill: #2196F3;
}

.check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;

}

.check-text::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked+.check-text::before {
    background-color: #2196F3;
    background-image: url(../images/check-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.check-text-terms {}