.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-btn,
.portfolio-btn {
  cursor: pointer;
  border: none;
  display: block;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
