.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.174);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}

.modal-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal {
  position: absolute;
  max-width: 100%;
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;

  @include for-size(desktop) {
    width: 530px;
    min-height: 580px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  @extend %align-list;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-icon {
  fill: var(--modal-btn-close-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-close:hover &,
  .modal-close:focus & {
    fill: var(--accent-color);
  }
}

.modal-title {
  margin-bottom: 12px;
  @include font(700, 20, 1.15, 0.03);
  text-align: center;
  color: #212121;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
}

.input-field {
  margin-bottom: 10px;
}

.comment-field {
  margin-bottom: 20px;
}

.inpute-title {
  @include font(null, 12, 1.67, 0.01);
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding-left: 15px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    @include font(null, 12, 1.17, 0.01);
    color: rgba(117, 117, 117, 0.5);
  }
}

.input-wrap {
  display: block;
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  display: inline-block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form-input:focus + & {
    fill: #2196f3;
  }
}

.checkbox-field {
  margin-bottom: 30px;
}

.check-text {
  @include font(null, 12, 1.71, 0.03);
  color: #757575;
  @extend %align-list;
  @include for-size(desktop) {
    @include font(null, 14, 1.71, 0.03);
  }
}

.check-text-link {
  color: #2196f3;
  text-decoration: underline;
}

.check-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  @extend %align-list;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .input-check:focus + .check-text & {
    border-color: var(--accent-color);
  }
  .input-check:checked + .check-text & {
    background-color: var(--accent-color);
    border: none;
  }
}

.icon-check {
  fill: transparent;
  .input-check:checked + .check-text & {
    fill: #ffffff;
  }
}

.check-btn {
  height: 50px;
  min-width: 200px;
  max-width: 100%;
  padding: 0 32px;
  overflow: hidden;
  @extend %align-list;
  color: var(--title-inverse-color);
  font-family: inherit;
  @include font(700, 16, 1.88, 0.06);
  background-color: var(--accent-color);
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  cursor: pointer;
  align-self: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
