.section {
  padding: 60px 0;

  @include for-size(desktop) {
    padding: 94px 0;
  }
}

.section--no-padding-top {
  padding-top: 0;

  @include for-size(mobile-only) {
    display: none;
  }

  @include for-size(tablet-only) {
    display: none;
  }
}

.section--other-background {
  background-color: var(--team-section-background-color);
}

.section__title {
  @include font(700, 28, 1.17, 0.03);
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;

  @include for-size(desktop) {
    @include font(700, 36, 1.17, 0.03);
    margin-bottom: 50px;
  }
}
