:root {
  --main-background-color: #fff;
  --main-text-color: #757575;
  --logo-dark-color: #000;
  --logo-light-color: #fff;
  --accent-color: #2196f3;
  --title-color: #212121;
  --title-inverse-color: #fff;
  --team-section-background-color: #f5f4fa;
  --footer-title-color: #ffffff;
  --footer-background-color: #2f303a;
  --footer-contacts-color: rgb(255 255 255 / 0.6);
  --modal-btn-close-color: #000;
}
