.employment-section {
  padding-top: 0;
}

.employment {
  display: flex;
  column-gap: 30px;
}

.employment-item {
  position: relative;
}

.employment-title {
  @include font(700, 36, 1.17, 0.03);
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}

.employment-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  @extend %align-list;
  @include font(700, 14, 1.14, 0.03);
  text-transform: uppercase;
  color: var(--title-inverse-color);
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
}
