.features {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
}

.features__icon-box {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  @extend %align-list;
  margin-bottom: 30px;

  @include for-size(desktop) {
    width: 270px;
  }
}

.features__title {
  @include font(700, 14, 1.14, 0.03);
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
  text-align: center;

  @include for-size(tablet) {
    text-align: start;
  }

  @include for-size(desktop) {
    text-align: start;
  }
}

.features__item {
  width: 100%;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }

  @include for-size(tablet) {
    flex-basis: calc((100% - 30px) / 2);
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @include for-size(desktop) {
    flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
}

.features__text {
  @include font(null, 14, 1.71, 0.03);
  color: var(--main-text-color);
  justify-content: center;
}
