.header-logo {
  margin-right: 93px;
  align-items: center;
}

.header-list {
  text-align: center;
  display: flex;
  column-gap: 50px;
  .current {
    color: var(--accent-color);
    position: relative;
  }
}

.header-item {
  display: block;
  padding: 32px 0 32px;
}

.contact-list {
  display: flex;
  margin-left: auto;
  column-gap: 50px;
}

.contact-list-list {
  @extend %align-list;
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  &__container {
    display: flex;
    align-items: center;
  }
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  @include font(700, 26, 1.19, 0.03);
  color: var(--accent-color);
}

.logo-accent {
  color: var(--logo-dark-color);
}

.header-item {
  @include font(500, 14, 1.14, 0.02);
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .header-list &:hover,
  .header-list &:focus {
    color: var(--accent-color);
  }
}

.contact-item {
  @include font(500, 14, 1.14, 0.02);
  color: var(--main-text-color);
  @extend %align-list;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .contact-list &:hover,
  .contact-list &:focus {
    color: var(--accent-color);
  }
}

.header-item.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
