.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  @include font(700, 26, 1.19, 0.03);
  color: var(--accent-color);
}

.header__logo {
  margin-right: 93px;
  align-items: center;
}

.logo__dark {
  color: var(--logo-dark-color);
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  &__container {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  text-align: center;
  display: flex;
  column-gap: 50px;
  .site-nav__link--current {
    color: var(--accent-color);
    position: relative;
  }
}

.site-nav__link {
  display: block;
  padding: 32px 0 32px;
  @include font(500, 14, 1.14, 0.02);
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .site-nav &:hover,
  .site-nav &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link.site-nav__link--current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: flex;
  margin-left: auto;
  column-gap: 50px;
}

.contact__item {
  @extend %align-list;
}

.contact__link {
  @include font(500, 14, 1.14, 0.02);
  color: var(--main-text-color);
  @extend %align-list;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .contacts &:hover,
  .contacts &:focus {
    color: var(--accent-color);
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
