.hero {
  padding: 118px 0;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: var(--bg-gradient), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include for-size(retina) {
    background-image: var(--bg-gradient), url(../images/hero-bg-mob-2x.jpg);
  }
  @include for-size(tablet) {
    background-image: var(--bg-gradient), url(../images/hero-bg-tab.jpg);
    @include for-size(retina) {
      background-image: var(--bg-gradient), url(../images/hero-bg-tab-2x.jpg);
    }
  }
  @include for-size(desktop) {
    padding: 200px 0;
    background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
    @include for-size(retina) {
      background-image: var(--bg-gradient), url(../images/hero-bg-2x.jpg);
    }
  }
}

.hero__title {
  font-size: 26px;
  line-height: 1.61;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  text-align: center;
  text-transform: uppercase;
  color: var(--title-inverse-color);

  @include for-size(desktop) {
    @include font(900, 44, 1.36, 0.06);
  }
}

.hero__btn {
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 216px;
  height: 50px;
  @include font(700, 16, 1.87, 0.06);
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--main-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
